<!--{template common/header}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<link rel="stylesheet" type="text/css" href="{$_G['style']['styleimgdir']}/extend/80013/css/extend.css" />
<style id="diy_style" type="text/css"></style>
<div id="widgets">
</div>
<div class="wp">
	<!--[diy=diypage]-->
	<div id="diypage" class="area">
		<div id="frame1" class="frame move-span frame-1 cl">
			<div class="frame-title title" id="frame1"><span class="titletext">{lang frame}</span></div>
			<div id="frame1_left" class="column frame-1-c"></div>
		</div>
	</div>
	<!--[/diy]-->
</div>

<div class="t9_1411141624">
	<div class="t9_1312111209x"><!--[diy=t9_1312111209x]--><div id="t9_1312111209x" class="area"></div><!--[/diy]--></div>
	<div class="t9_mn t9_1312111405">
		<div class="t9_1312111406"><!--[diy=t9_1312111406]--><div id="t9_1312111406" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111407"><!--[diy=t9_1312111407]--><div id="t9_1312111407" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111408"><!--[diy=t9_1312111408]--><div id="t9_1312111408" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111409"><!--[diy=t9_1312111409]--><div id="t9_1312111409" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111410"><!--[diy=t9_1312111410]--><div id="t9_1312111410" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111411"><!--[diy=t9_1312111411]--><div id="t9_1312111411" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111412"><!--[diy=t9_1312111412]--><div id="t9_1312111412" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111413"><!--[diy=t9_1312111413]--><div id="t9_1312111413" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111414"><!--[diy=t9_1312111414]--><div id="t9_1312111414" class="area"></div><!--[/diy]--></div>
		<div class="t9_1312111415"><!--[diy=t9_1312111415]--><div id="t9_1312111415" class="area"></div><!--[/diy]--></div>
	</div>
	<div class="t9_sd">
		<div class="t9_1312111514">
			<div class="t9_1312111515"><!--[diy=t9_1312111515]--><div id="t9_1312111515" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111516"><!--[diy=t9_1312111516]--><div id="t9_1312111516" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111517"><!--[diy=t9_1312111517]--><div id="t9_1312111517" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111518"><!--[diy=t9_1312111518]--><div id="t9_1312111518" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111519"><!--[diy=t9_1312111519]--><div id="t9_1312111519" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111520">
				<div class="t9_1312111520a"><!--[diy=t9_1312111520a]--><div id="t9_1312111520a" class="area"></div><!--[/diy]--></div>
				<div class="t9_cle"></div>
				<div class="showbox_201">
					<div id="h201b0" class="t9_1312111520b"><!--[diy=t9_1312111520b]--><div id="t9_1312111520b" class="area"></div><!--[/diy]--></div>
					<div id="h201b1" class="t9_1312111520c" style="display:none;"><!--[diy=t9_1312111520c]--><div id="t9_1312111520c" class="area"></div><!--[/diy]--></div>
					<div class="t9_cle"></div>
				</div>
			</div>
			<div class="t9_1312111521"><!--[diy=t9_1312111521]--><div id="t9_1312111521" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111522"><!--[diy=t9_1312111522]--><div id="t9_1312111522" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111523">
				<div class="t9_1312111523a"><!--[diy=t9_1312111523a]--><div id="t9_1312111523a" class="area"></div><!--[/diy]--></div>
				<div class="showbox_201">
					<div id="h201b0">
						<div class="t9_1312111523b"><!--[diy=t9_1312111523b]--><div id="t9_1312111523b" class="area"></div><!--[/diy]--></div>
					</div>
					<div id="h201b1" style="display:none;">
						<div class="t9_1312111523c"><!--[diy=t9_1312111523c]--><div id="t9_1312111523c" class="area"></div><!--[/diy]--></div>
					</div>
				</div>
			</div>
			<div class="t9_1312111524"><!--[diy=t9_1312111524]--><div id="t9_1312111524" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111525"><!--[diy=t9_1312111525]--><div id="t9_1312111525" class="area"></div><!--[/diy]--></div>
			<div class="t9_1312111526"><!--[diy=t9_1312111526]--><div id="t9_1312111526" class="area"></div><!--[/diy]--></div>
		</div>
		<div class="drag"><!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]--></div>
	</div>
	<div class="t9_cle"></div>
</div>

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<!--{if $topic['allowcomment']==1}-->
{eval
	$data = &$topic;
	$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
	$form_url = "portal.php?mod=portalcp&ac=comment";
	$commentlist = portaltopicgetcomment($topicid);	}
	<!--{template portal/portal_comment}-->
	<!--{/if}-->
</div>

<script language="javascript">
	function h201(id) {
		for (var i = 0; i < 2; i++) {
			var h201a = document.getElementById("h201a" + i);
			var h201b = document.getElementById("h201b" + i);
			if (i == id) {
				h201a.className = 'bg_nav_201';
				h201b.style.display = "";
			} else {
				h201a.className = 'bg_nav_current_201';
				h201b.style.display = "none";
			}
		}
	}
</script>
<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
