/* ----------------------------------
CSS file for Discuz! x3.2 By 999test.cn
(C) 999test.cn
http://www.999test.cn
Design QQ  747983834
Design QQ  944459016
Design QQ  373372740
Design QQ  794918446
Design QQ 1029879682
---------------------------------- */

/** portal::portalcp **/
.mn { margin-bottom: 20px; padding: 10px; background: #fff; }
#issuance { font-size: 14px; width: 120px; height: 40px; }

/** end **/

/** forum::index **/
#pt { height: auto; }
#pt strong { float: left; margin: 0 10px 0 5px; }
#pt #chart { margin: 0; }
#pt #chart a { margin-right: 10px; }
.fl { border: none; background: none; }
.fl .bm { margin-bottom: 20px; padding-top: 15px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.fl .bm .bm_h { line-height: 40px; position: relative; overflow: inherit; height: 40px; margin-bottom: 15px; border: none; background: #f2f2f2; }
.fl .bm .bm_h h2 { font-size: 16px; font-weight: 700; position: absolute; top: 0; left: 0; height: 40px; padding-left: 15px; border-left: 8px solid #5da9c8; }
.fl .bm .bm_h span.o { margin-top: 4px; }
.t9_subforms_list { margin-top: 10px; }
.t9_subforms_list strong, .t9_subforms_list a { line-height: 30px; display: block; float: left; height: 30px; margin-right: 10px; padding: 0 10px; color: #999; border: 1px solid #ededed; border-radius: 10px; }
.t9_subforms_list strong { position: relative; color: #fff; background: #999; }
.t9_subforms_list strong::after { position: absolute; z-index: 3; top: 10px; right: -10px; width: 0; height: 0; content: ''; border: 5px solid transparent; border-left-color: #999; }
.t9_forum_threads, .t9_forum_posts { position: relative; display: inline-block; min-width: 20px; margin: 0 4px; padding: 4px; color: #fff; border-radius: 20px; }
.t9_forum_threads::before, .t9_forum_posts::before { position: absolute; z-index: 3; top: 8px; width: 0; height: 0; content: ''; border: 5px solid transparent; }
.t9_forum_threads { border: 1px solid #f8ba31; background: #f8ba31; }
.t9_forum_threads::before { right: -10px; border-left-color: #f8ba31; }
.t9_forum_posts { border: 1px solid #5da9c8; background: #5da9c8; }
.t9_forum_posts::before { left: -10px; border-right-color: #5da9c8; }
#online { border: none; background: none; }
#online { overflow: inherit; margin-bottom: 20px; padding-top: 15px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
#online .bm_h { line-height: 40px; position: relative; overflow: inherit; height: 40px; margin-bottom: 15px; border: none; background: #f2f2f2; }
#online .bm_h h3 { font-size: 16px; font-weight: 400; position: absolute; top: 0; left: 0; height: 40px; padding-left: 15px; border-left: 8px solid #5da9c8; }
#online .bm_h span.o { margin-top: 4px; }
.bm_h { border-color: #eee; }
.fl { border: none; background: none; }
.fl .bm .bm_h h2 { font-size: 18px; line-height: 40px; }
.fl .bm_c { padding: 5px 15px; }
.fl_row td { border-top: 1px solid #ededed; }
.fl_tb td { padding: 15px; }
.fl_icn { width: 100px; padding: 15px !important; text-align: center; }
.fl_icn img { border-radius: 15px; }
.fl_icn_g { width: 100px; }
.fl_i { text-align: center; }
.fl_by { line-height: 30px; width: 380px; color: #999; }
.fl_by a { color: #999; }
.fl_tb h2, .fl_g dt { font-size: 16px; }
.fl_g dl { line-height: 28px; margin: 0; padding: 0; }
.fl_g dt { margin-bottom: 5px; }
.fl_g dd, .fl_g dd a { color: #999; }
.t9_fav_forums { padding: 0 0 0 20px !important; }
.t9_fav_forums td { padding: 20px 0; }
.t9_fav_forums dl { margin: 0 20px 0 0; padding: 15px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.t9_fav_forums dl dt { font-size: 16px; font-weight: 700; margin-bottom: 5px; }
.t9_fav_forums dl dd { color: #999; }
.lk { padding-bottom: 10px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.lk ul::after { font-size: 0; display: block; visibility: hidden; visibility: inherit; float: none; clear: both; overflow: hidden; width: 0; height: 0; margin: 0; padding: 0; border: 0; background: none; }
.lk .x li { width: auto; margin-right: 15px; }

/** end **/

/** forum::forumdisplay,forum::viewthread **/
.pgs #newspecial, .pgs #newspecialtmp, #post_reply, #post_replytmp { font-size: 18px; line-height: 40px; float: left; width: 120px; height: 40px; margin-right: 10px; text-align: center; color: #fff; border-radius: 15px; }
.pgs #newspecial, .pgs #newspecialtmp { background: #5da9c8; }
#post_reply, #post_replytmp { background: #666; }
.pnpost .pn { font-size: 14px; font-weight: 400; line-height: 30px; width: 100px; height: 30px; color: #fff; border: none; background: #666; }
.pnpost .pn strong { font-weight: 400; }
#newspecial_menu { width: 110px; border-radius: 15px; box-shadow: none; }

/** end **/

/** forum::forumdisplay **/
.bdl { border-color: #eee; border-radius: 15px; background: #fff; }
.bdl .tbn { margin-top: 0; }
.bdl h2 { font-weight: 700; line-height: 30px; height: 30px; margin: 0 -10px; padding: 0 10px 0 25px; border-bottom: 1px solid #ededed; background: #f9f9f9; }
.bdl h2 a { color: #333; }
.bdl h2.bdl_h { display: none; }
.bdl dt { font-weight: 700; line-height: 30px; height: 30px; padding-left: 18px; border-color: #ededed; background: #f9f9f9; }
.bdl dt a { color: #333; }
.bdl dd a { padding-left: 25px; }
.bdl dd.bdl_a a { padding-left: 10px; background: none; }
.bdl dd.bdl_a a::before { float: left; margin: 9px 5px 0 0; content: ''; border: 5px solid transparent; border-left-color: #999; }
.bml.pbn { padding: 15px !important; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.bml .bm_h { padding: 0; }
h1.xs2 { font-size: 20px !important; }
.fl { margin: 20px 0; padding: 15px 0 5px; border: 1px solid #ededed !important; border-radius: 15px; }
.fl .bm_h { line-height: 40px; position: relative; overflow: inherit; height: 40px; margin-bottom: 5px; border: none; background: #f2f2f2; }
.fl .bm_h h2 { font-size: 14px; font-weight: 700; position: absolute; top: 0; left: 0; height: 40px; padding-left: 15px; border-left: 8px solid #5da9c8; }
.fl .bm_h span.o { margin-top: 4px; }
.fl .bm_c { padding: 0 20px; }
.fl_row td { border-top: 1px solid #ededed; }
.fl_tb td { padding: 10px; }
.fl_icn { width: 100px; padding: 15px 15px 15px 0 !important; text-align: center; }
.fl_icn img { border-radius: 15px; }
.fl_icn_g { width: 100px; }
.fl_i { text-align: center; }
.fl_by { line-height: 30px; width: 380px; color: #999; }
.fl_by a { color: #999; }
.fl_tb h2, .fl_tb dt { font-size: 16px; }
.t9_forum_threads, .t9_forum_posts { position: relative; display: inline-block; min-width: 20px; margin: 0 4px; padding: 4px; color: #fff; border-radius: 20px; }
.t9_forum_threads::before, .t9_forum_posts::before { position: absolute; z-index: 3; top: 8px; width: 0; height: 0; content: ''; border: 5px solid transparent; }
.t9_forum_threads { border: 1px solid #f8ba31; background: #f8ba31; }
.t9_forum_threads::before { right: -10px; border-left-color: #f8ba31; }
.t9_forum_posts { border: 1px solid #5da9c8; background: #5da9c8; }
.t9_forum_posts::before { left: -10px; border-right-color: #5da9c8; }
.fl_tb dl { line-height: 28px; margin: 0; padding: 0; }
.fl_tb dt { margin-bottom: 5px; }
.fl_tb dd, .fl_g dd a { color: #999; }
#threadlist { border-radius: 15px; }
.tl .th { margin: 0; border: none; border-radius: 15px; }
.tl th, .tl td { padding: 10px 0; }
.tsm th { padding-left: 15px; }
.tl .ts th, .tl .ts td, .tl th, .tl td { border-color: #ededed; }
.tl .emptb th, .tl .emptb td { padding: 5px 0; }
.tl th em a:visited, .tl td.fn em a:visited, .tl th em, .tl th em a { color: #5da9c8; }
#thread_types { text-align: center; }
#thread_types li { display: inline-block; padding: 5px; }
#thread_types li a { line-height: 28px; display: block; height: 28px; margin: 0; padding: 0 10px; border: 1px solid #ddd; border-radius: 15px; background: #fff; }
#thread_types li a .num { display: none; }
#thread_types li.a a { position: relative; color: #fff; border-color: #61617f; background: #61617f; }
#thread_types li.a .num { line-height: 30px; position: absolute; top: -1px; right: -48px; display: inline-block; min-width: 28px; height: 28px; color: #fff; border: 1px solid #5da9c8; border-radius: 15px; background: #ff4215; }
#thread_types li.a a::before, #thread_types li.a .num::before { position: absolute; z-index: 3; top: 8px; width: 0; height: 0; content: ''; border: 5px solid transparent; }
#thread_types li.a a { margin-right: 45px; border: 1px solid #f8ba31; background: #f8ba31; }
#thread_types li#ttp_all.a a { margin-right: 0; }
#thread_types li.a a::before { right: -10px; border-left-color: #f8ba31; }
#thread_types li.a .num { background: #5da9c8; }
#thread_types li.a .num::before { left: -10px; border-right-color: #5da9c8; }
.t9_forumlist_ann { line-height: 31px; height: 31px; padding: 0 10px; border-radius: 20px; background: #f2f2f2; }
.t9_forumlist_ann a { color: #888; }
.t9_forumlist_ann em { float: right; margin: 0 10px; color: #999; }
.t9_forumlist_ann::before { font-family: 't9_fonts'; font-size: 18px; float: left; margin-top: 1px; margin-right: 5px; content: '\F155'; }
.waterfall { margin: 0 auto; }
.waterfall li { line-height: 31px; float: left; margin: 0; padding: 0 40px 80px 0; border: none; background: none; }
.waterfall li .t9_x_n_1 { background: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, .3); }
.waterfall li .t9_x_n_2 { position: absolute; z-index: 99; top: 1px; left: 1px; background: #fff; }
.waterfall li .t9_x_n_3 { position: relative; }
.waterfall li .t9_x_n_3 .t9_a { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; transition: all 200ms ease-out; opacity: 0; background: #4c4c4c; filter: alpha(opacity=0); }
.waterfall li:hover .t9_x_n_3 .t9_a { opacity: .2; filter: alpha(opacity=20); }
.waterfall li .t9_nopic { line-height: 180px; width: 100%; height: 180px; text-align: center; }
.waterfall li .t9_x_n_3 span { line-height: 23px; position: absolute; z-index: 2; bottom: -10%; left: 50%; display: block; height: 23px; margin-left: -54px; padding: 0 10px; transition: all 400ms ease-out; opacity: 0; color: #999; background: #eee; filter: alpha(opacity=0); }
.waterfall li .t9_x_n_3 span::before { position: absolute; bottom: -10px; left: 49px; width: 0; height: 0; content: ''; border: 5px solid transparent; border-top-color: #eee; }
.waterfall li .t9_x_n_3 span a { color: #999; }
.waterfall li:hover .t9_x_n_3 span { bottom: 36px; opacity: 1; filter: alpha(opacity=100); }
.waterfall li .t9_x_n_4 { position: relative; height: 30px; border: 1px solid #eee; }
.waterfall li .t9_x_n_4 span { position: absolute; z-index: 9; top: -27px; left: 50%; margin-left: -27px; }
.waterfall li .t9_x_n_4 img { width: 48px; height: 48px; border: 3px solid #eee; border-radius: 27px; }
.waterfall li .t9_x_n_5 { padding-left: 83px; border: solid #eee; border-width: 0 1px; }
.waterfall li .t9_x_n_6 { font-weight: 700; }
.waterfall li .t9_x_n_6, .waterfall li .t9_x_n_7 { padding: 0 10px; text-align: center; border: solid #eee; border-width: 0 1px; }
.waterfall li .t9_x_n_7 { border-width: 1px; }
.waterfall li .t9_x_n_7 .t9_a { margin-right: 15px; }
.waterfall li .t9_x_n_7 span { position: relative; display: inline-block; padding-left: 20px; }
.waterfall li .t9_x_n_7 span::before { font-family: 't9_fonts'; font-size: 14px; line-height: 18px; position: absolute; top: 6px; left: 0; display: inline-block; width: 18px; height: 18px; content: '\F196'; color: #ddd; }
.waterfall li .t9_x_n_7 .t9_b::before { top: 8px; content: '\E862'; }
.pgs { margin-bottom: 20px; }
#autopbn { margin: 20px 0; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.pgbtn a { font-size: 14px; line-height: 50px; height: 50px; margin-bottom: 20px; border: none; border-radius: 0; background: #fff; }
#f_pst { border: 1px solid #ededed; border-radius: 15px; background: #fff; }
#f_pst .bm_h { font-size: 16px; line-height: 40px; height: 40px; margin-top: 5px; padding-left: 20px; background: none; }
.pnpost .pn { border-radius: 10px; }

/** end **/

/** forum::viewthread **/
#postlist { border: none; }
.t9_node_n { margin-bottom: 20px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.t9_node_n .t9_pls { border-top-left-radius: 15px; }
.t9_node_tit { margin-bottom: 20px; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
.t9_node_tit .pls, .t9_node_tit .plc { vertical-align: middle; }
.t9_node_tit .pls { padding: 15px 0 !important; border-top-left-radius: 15px; border-bottom-left-radius: 15px; }
.t9_node_tit .plc { padding: 15px 80px 15px 20px !important; }
.t9_node_tit h1 { font-size: 26px; }
.ad .plc { background: none; }
.ad .pls { height: 15px; border-bottom-left-radius: 15px; background: #f5f5f5; }
.pls .pi { padding: 10px 0; text-align: center; }
.pls .avatar img { width: 120px; height: 120px; padding: 0; border: 5px solid #fff; border-radius: 65px; background: none; }
.bbs { border: none !important; }
#modmenu, .modmenu { margin: 20px 0 !important; padding: 15px !important; text-align: center; border: 1px solid #ededed !important; border-radius: 15px; background: #fff; }
.pgbtn a { margin: 20px 0; border: 1px solid #ededed; border-radius: 15px; background: #fff; }
#f_pst { border: 1px solid #ededed; border-radius: 15px; background: #fff; }
#f_pst .pls { padding: 15px 0 !important; border-top-left-radius: 15px; border-bottom-left-radius: 15px; }
.pnpost .pn { border-radius: 10px; }

/** end **/

/** forum::guide **/
#t9_guide_post { font-size: 16px; position: relative; display: inline-block; width: 100px; height: 40px; text-align: center; text-indent: 0; color: #fff; border-radius: 3px; background: #5da9c8; }
#t9_guide_post::before { font: 400 18px/40px 't9_fonts'; position: absolute; top: 1px; left: 16px; content: '\F16E'; color: #fff; }
#t9_guide_post::after { line-height: 40px; position: absolute; top: 0; left: 0; width: 100%; height: 40px; content: '发帖'; text-indent: 18px; }
#t9_guide_post img { opacity: 0; filter: alpha(opacity=0); }

/** end **/

/** forum::post **/
#editorbox { padding: 15px; }
.editorrow { margin-top: 0 !important; }

/** end **/

/** misc::ranklist **/
.xl2 li { font-size: 14px; line-height: 31px; width: 498px; height: 31px; }

/** end **/

/** home::follow **/
#fastpostsubmit { font-size: 16px; position: relative; width: 100px; height: 40px; text-align: center; text-indent: 0; border-radius: 3px; background: #5da9c8; }
#fastpostsubmit::before { font: 400 18px/40px 't9_fonts'; position: absolute; top: 0; left: 15px; margin: 0 5px; content: '\F046'; color: #fff; }
#fastpostsubmit::after { line-height: 40px; position: absolute; top: 0; left: 0; width: 100%; height: 40px; content: '发布'; text-indent: 18px; }
#fastpostsubmit strong { display: none; }

/** end **/

/** home::space **/
.moodfm_btn { background: #5da9c8; }
.moodfm_btn button { font-size: 16px; position: relative; display: block; width: 58px; height: 58px; text-align: center; text-indent: 0; opacity: 1; color: #fff; border: none; background: #5da9c8; filter: alpha(opacity=100); }
.pbg { height: 16px; }

/** end **/

/** group::index **/
#create_group_btn { font-size: 16px; position: relative; display: block; width: 198px; height: 40px; text-align: center; text-indent: 0; color: #fff; border-radius: 3px; background: #5da9c8; }
#create_group_btn::before { font: 400 18px/40px 't9_fonts'; position: absolute; top: 1px; left: 10px; margin: 0 5px; content: '\EA8E'; color: #fff; }
#create_group_btn::after { line-height: 40px; position: absolute; top: 0; left: 0; width: 100%; height: 40px; content: '创建一个自己的群组'; text-indent: 18px; }
#create_group_btn strong { display: none; }
#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }

/** end **/
